### General Settings

WHMCS_PATH=./whmcs
WHMCS_PATH_DOCKER=/var/www/dev/data/www/dev.site.com
WHMCS_PATH_URL=dev.site.com

MARIADB_VERSION=10.2
PHP_VERSION=7.4

NGINX_PORT_HTTP=8081
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000

MARIADB_DATABASE=whmcs
MARIADB_USER=whmcs
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root

MAILDEV_HTTP_PORT=1080
MAILDEV_SMTP_PORT=25

### HostIP

DOCKER_HOST_IP=10.0.75.1

### Drivers

VOLUMES_DRIVER=local
NETWORKS_DRIVER=bridge
